body{
width: 100%;
height: 100%;
background: var(--fondo);
font-family: sans-serif;  
}

/*Agregar vehiculo */
.Vehiculo{
width: 320px; 
height: 570px;
border-radius: 28px 28px 28px 28px;
-moz-border-radius: 28px 28px 28px 28px;
-webkit-border-radius: 28px 28px 28px 28px;
border: 0px solid #000000;
/*Sombreado*/
-webkit-box-shadow: 9px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 9px 10px 5px 0px rgba(0,0,0,0.75);
box-shadow: 9px 10px 5px 0px rgba(0,0,0,0.75);
/*Estilo*/
background: rgba(0,0,0,0.6) ;
color: #ffffff;
top: 52%;
left: 50%;
position: absolute; 
transform: translate(100% ,-50%); /* x, y*/
box-sizing: border-box;
padding: 30px 30px; 
}

.Vehiculo {
margin: 0;
padding: 15 20;
text-align: left;
font-size: 15px; 

}
.Vehiculo label{
margin: 0;
padding: 0;
font-weight: bold;
display: block; 

}
.Vehiculo input{
width: 100%;
margin-bottom: 20px; 
}
.Vehiculo input[type="text"]{
border: none;
border-bottom: 1px solid #ffffff; 
background: transparent; 
outline: none; 
height: 40px;
color: #ffffff; 
font-size: 16px; 
}
.Vehiculo input[type="submit"]{
border: none; 
outline: none;
height: 40px;
background: #828282;
color: #ffffff; 
font-size: 18px; 
border-radius: 20px; 
}
/*Menu*/
header{
  width: 100%;
  height:600px;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

nav{
  width: 100%;
  position: fixed;
  box-shadow: 0 0 10px 0 rgba(0,0,0,.5)
}

.nav1{
  background-color: #A9A9A9;
  height: 80px;
  color:#fff;
}

.nav2{
  background: var(--fondo);
  height:100px;
  color:#000;
}

.contenedor-nav{
  display: flex;
  margin: auto;
  width: 90%;
  justify-content: space-between;
  align-items: center;
  max-width:1000px;
  height:inherit;
  overflow: hidden;
}

nav .enlaces a{
  display: inline-block;
  padding: 5px 0;
  margin-right: 17px;
  font-size: 17px;
  font-weight: 300;
  text-decoration: none;
  border-bottom: 3px solid transparent;
  color: inherit;
}

nav .enlaces a:hover{
  border-bottom: 3px solid #1498a4;
  transition: 0.6s;
}

.logo, .logo img{ height:80px;}

.icono{
  display:none;
  font-size: 24px;        
  padding: 23.5px 20px;
}
  /*Imagen*/
.avatar
{
position: relative;
left: 100px; /*x*/
top: 100px; ;
}