body{
    margin: 0;
    padding: 0;
    background: url(Pagina/img/FondoLogin.jpg) no-repeat center top; 
    background-size: cover; 
    font-family: 'open sans';  
    height: 100vh;


}
.login-box{
    width: 320px; 
    height: 420px;
    background: rgb(0,0,0,0.6);
    color: #ffffff;
    top: 50%;
    left: 50%;
    position: absolute; 
    transform: translate(-50%, -50%); /* equis, y*/
    box-sizing: border-box;
    padding: 70px 30px; 
    border-radius: 20px 20px 20px 20px;
-moz-border-radius: 20px 20px 20px 20px;
-webkit-border-radius: 20px 20px 20px 20px;
border: 0px solid #000000;
}
.login-box .avatar
{
width: 100px; 
height: 100px;
border-radius: 50%;
position: absolute;
top: -50px;
left: calc(50% - 50px);
}
.login-box h1
{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px; 

}
.login-box label
{
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block; 

}
.login-box input
{
    width: 100%;
    margin-bottom: 20px; 
}
.login-box input[type="text"], 
.login-box input[type="password"]
{
    border: none;
    border-bottom: 1px solid #ffffff; 
    background: transparent; 
    outline: none; 
    height: 40px;
    color: #ffffff; 
    font-size: 16px; 
}
.login-box input[type="submit"]
{
    border: none; 
    outline: none;
    height: 40px;
    background: #828282;
    color: #ffffff; 
    font-size: 18px; 
    border-radius: 20px; 
}
.login-box a
{
text-decoration: none; 
font-size: 12px; 
line-height: 20px; 
color: darkgrey; 
}
.login-box a:hover
{
color: #ffffff
}
header{
    width: 100%;
    height:600px;
  
  
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
  }
  
  nav{
    width: 100%;
    position: fixed;
    box-shadow: 0 0 10px 0 rgba(0,0,0,.5)
  }
  
  .nav1{
    background-color: #A9A9A9;
    height: 80px;
    color:#fff;
  }
  
  .nav2{
    background: var(--fondo);
    height:100px;
    color:#000;
  }
  
  .contenedor-nav{
    display: flex;
    margin: auto;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    max-width:1000px;
    height:inherit;
    overflow: hidden;
  }
  
  nav .enlaces a{
    display: inline-block;
    padding: 5px 0;
    margin-right: 17px;
    font-size: 17px;
    font-weight: 300;
    text-decoration: none;
    border-bottom: 3px solid transparent;
    color: inherit;
  }
  
  nav .enlaces a:hover{
    border-bottom: 3px solid #1498a4;
    transition: 0.6s;
  }
  
  .logo, .logo img{ height:80px;}
  
  .icono{
    display:none;
    font-size: 24px;        
    padding: 23.5px 20px;
  }