body{

  background: url(fondo.jpg) no-repeat center top; 
  font-family: 'open sans';  
  }

  header{
    width: 100%;
    height:600px;
  
  
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    padding-top: 0px;
  }
  
  nav{
    width: 100%;
    position: fixed;
    box-shadow: 0 0 10px 0 rgba(0,0,0,.5);
    margin-top: -0.7%;
    margin-left: -7px;
  }
  
  .nav1{
    background-color: #A9A9A9;
    height: 80px;
    color:#fff;
    padding-top: 0px;
    
  }
  
  .nav2{
    background: var(--fondo);
    height:100px;
    color:#000;
  }
  
  .contenedor-nav{
    display: flex;
    margin: auto;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    max-width:1000px;
    height:inherit;
    overflow: hidden;
  }
  
  nav .enlaces a{
    display: inline-block;
    padding: 5px 0;
    margin-right: 17px;
    font-size: 17px;
    font-weight: 300;
    text-decoration: none;
    border-bottom: 3px solid transparent;
    color: inherit;
  }
  
  nav .enlaces a:hover{
    border-bottom: 3px solid #1498a4;
    transition: 0.6s;
  }
  .logo, .logo img{ 
    height:80px;}

.contenedorPrincipal{
  margin-top: -400px;
  margin-left: 220px;
  position: center;
  background-color: #1498a4;
  width: 800px;
  height: 350;
  padding-left: 10px;
  border-radius: 16px;
}

.contenedorPrincipal h1{
  text-align: center;
}

.contenedorPrincipal input .txtServicio{
  width: 2000px;
}


.Mapa{

  margin-top: -320px;
  margin-left: 600px;
  position: absolute;
  width: 500px;
  height: 350;
  padding-left: 10px;
  border-radius: 16px;
}